*{
    margin: 0;
    padding: 2px;
}
body{
    background-image: linear-gradient(235deg, rgb(94, 7, 94), rgb(203, 194, 194));
}
.title{
max-width: 100%;
text-align: center;
}
.title > h1{
    color: white;
    text-shadow: 2px 3px 2px black;
}
.cal-zone{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    max-width: 100%;
    max-height: 600px;
}
.cal-container{
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.374);
    height: 450px;
    width: 300px;
    padding: 5px;
}
.display{
    overflow: hidden;
    width: 285px;
    background-color: rgba(127, 182, 117, 0.838);
    height: 50px;
    text-align: end;
    font-size: 38px;
    margin: 5px;
    resize: none;
    
}
.bContainer{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.145);
    grid-gap: 5px;
    margin-top: 10px;
    height: 330px;
}

button:hover{
    background-color: rgba(245, 244, 243, 0.68);
    transition-duration: 0.2s;
    border-radius: 4px;
}

.clear{
    background-color: brown;
    /* color: white; */
    /* font-size: 20px; */
}
.credits{
    background-color: rgba(0, 0, 0, 0.181);
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 80px;
    color: white;
    width: 150px;
    height: 20px;
    font-size: 15px;
}
.credits a{
    text-decoration: none;
    color: white;
}